<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Usługi Kadrowo-Księgowe Beata Kabała - Strona główna</title>
    <%- include('elements/meta') -%>
</head>

<body>
    <%- include('elements/landscape-mobile') -%>
        <section class="no-landscape">
            <%- include('elements/nav') -%>
                <section class="landing-page starter grid-1">
                    <div class="landing-page-container">
                        <h1 class="landing-page-title">ukk</h1>
                        <h1 class="landing-page-subtitle">Biuro rachunkowe</h1>
                        <h1 class="landing-page-subtitle">na miarę Twoich potrzeb.</h1>
                    </div>
                    <img class="landing-page-arrow" src="images/svg/arrow-down.svg" alt="Odnośnik do sekcji o firmie.">
                </section>
                <section class="grid grid-normal grid-2">
                    <div class="grid-img-cont">
                        <img class="grid-img" src="images/about.png" alt="Obraz dla sekcji o firmie.">
                        <h1 class="grid-header">Kim jesteśmy?</h1>
                    </div>
                    <div class="grid-text">
                        <p>Jesteśmy biurem rachunkowym działającym na polskim rynku od 2000 roku. Od tego czasu
                            zebraliśmy
                            cenne
                            doświadczenia oraz podjęliśmy współpracę z szerokim gronem Klientów działających między
                            innymi w
                            branży
                            medycznej, IT, a także w zakresie handlu hurtowego oraz detalicznego.</p>
                        <p>Główną misją naszej firmy jest zapewnienie naszym Klientom profesjonalnej obsługi, a także
                            komfortu i
                            bezpieczeństwa w zakresie wykonywanych czynności rachunkowych i rozliczeniowych.</p>
                        <a class="grid-btn" href="/o-firmie">Dowiedz się więcej</a>
                    </div>
                </section>
                <section class="grid grid-reverse grid-3">
                    <div class="grid-img-cont">
                        <img class="grid-img" src="images/services.png" alt="Obraz dla sekcji z ofertą.">
                        <h1 class="grid-header">Poznaj naszą ofertę</h1>
                    </div>
                    <div class="grid-text">
                        <p>Jesteśmy biurem rachunkowym działającym na polskim rynku od 2000 roku. Od tego czasu
                            zebraliśmy
                            cenne
                            doświadczenia oraz podjęliśmy współpracę z szerokim gronem Klientów działających między
                            innymi w
                            branży
                            medycznej, IT, a także w zakresie handlu hurtowego oraz detalicznego.</p>
                        <p>Główną misją naszej firmy jest zapewnienie naszym Klientom profesjonalnej obsługi, a także
                            komfortu i
                            bezpieczeństwa w zakresie wykonywanych czynności rachunkowych i rozliczeniowych.</p>
                        <a class="grid-btn" href="/oferta">Dowiedz się więcej</a>
                    </div>
                </section>
                <section class="grid grid-normal grid-4">
                    <div class="grid-img-cont">
                        <img class="grid-img" src="images/pricing.png" alt="Obraz dla sekcji z cennikiem.">
                        <h1 class="grid-header">Cennik usług</h1>
                    </div>
                    <div class="grid-text">
                        <p>Cena świadczonych przez nasze biuro usług zależna jest od kilku czynników, w tym między
                            innymi
                            ilości
                            dokumentów w obiegu miesięcznym, specyfice Państwa branży oraz działalności, a także
                            ustalonego
                            zakresu
                            wykonywanych czynności.</p>
                        <p>Zapraszamy do zapoznania się z naszym cennikiem, w którym dzięki intuicyjnemu formularzowi
                            będziecie
                            Państwo w stanie oszacować przybliżony koszt naszych usług.</p>
                        <a class="grid-btn" href="/cennik">Dowiedz się więcej</a>
                    </div>
                </section>

                <%- include('elements/footer') -%>
        </section>

        <!-- Scripts section -->
        <section class="scripts">
            <%- include('elements/scripts') -%>
                <!-- Własne skrypty - indywidualne -->
                <script src="js/home-page.js"></script>
        </section>
</body>

</html>